:root {
  --primary-font: "inter", sans-serif;
  --heading-font: "Playfair Display", serif;
  --blue: #1266f1;
  --black: #030303;
  --fontx: 1.125rem;
  --fontxx: 2.25rem;
  --fontxxx: 4.5rem;
  --swiper-theme-color: #20a1ff !important;
}
/* loader */
.loader{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #000;
  color: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader span::after{
  content: '';
  height: 30px;
  width: 30px;
  margin: 0 10px;
  color: #fff;
  display: block;
  background-color: #fff;
  border-radius: 50%;
}
/* resetting */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
li,
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/* element styling */
body {
  color: #fff;
  background-color: var(--black);
  font-family: var(--primary-font);
}
header {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
header img {
  align-self: center;
  height: 50px;
}
header ul {
  align-self: center;
}
nav {
  width: 100vw;
  position: fixed;
  bottom: 0%;
  display: flex;
  z-index: 998;
  justify-content: center;
  background-color: #fff;
}
nav li {
  margin: 0.5rem 1rem;
  padding: 0 0.5rem;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
nav li a img {
  height: 40px;
}
nav li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--black);
  font-size: 0.8rem;
}
nav li a:focus-within::after {
  border-radius: 50%;
  border-bottom: 5px solid var(--blue);
}
.active::after {
  position: absolute;
  content: "";
  bottom: -10%;
  border-radius: 50%;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  height: 5px;
  width: 5px;
  display: block;
  background-color: var(--blue);
}
/* utility classes */
.bg-white {
  background-color: #fff;
}
.rounded {
  border-radius: 50%;
}
.m-auto {
  margin: auto;
}
.heading {
  position: relative;
  text-align: center;
  font-size: var(--fontxx);
}
.heading::after {
  content: "";
  height: 5px;
  width: 150px;
  margin: 5px auto;
  display: block;
  background: linear-gradient(45deg, #f00, #00f);
}
.subheading {
  font-size: var(--fontx);
  font-weight: 800;
  text-transform: capitalize;
}
.cta {
  background-color: #fff;
  color: var(--black);
  width: 40vw;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1.125rem;
  font-weight: 500;
  border: none;
  text-transform: capitalize;
  padding: 0.5rem;
  margin: 0 auto;
  transition: all 1s;
}
.cta:focus,
.cta:hover {
  outline: none;
  color: #fff;
  background: -webkit-linear-gradient(to left, #32dfce, #6f54f8);
  background: linear-gradient(to left, #32dfce, #6f54f8);
}
.cta-2 {
  font-size: var(--fontx);
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
}
.cta-2:nth-child(2){
  color: #030303;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #030303;
}
.wrap {
  padding: 0.5rem 1rem;
}
.icon {
  vertical-align: middle;
  height: 40px !important;
  display: inline !important;
  margin: 0 !important;
}
.uppercase {
  text-transform: capitalize;
}
.btn-container {
  margin: 1rem;
}
.d-none{
  display: none;
}
.extra{
  height: 60px;
  width: 100vw;
}
.blog-card{
  height: 300px;
  border-radius: 10px;
  padding: 1rem .5rem;
  display: grid;
  grid-template-rows: 40% 20% 10% 30%;
  /* border: 1px solid #ccc; */
  background-color: #fff;
  color: #000;
  box-shadow: 1px 1px 5px 1px #8a8a8a;
}
.blog-card .img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-row: 1/2;
  background-image: url(../img/pexels-pixabay-267350.jpg);
  background-size: cover;
}
.blog-card a{
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1;
  color: #000;
  grid-row: 2/3;
}
.blog-card h3{
  grid-row: 3/4;
}
.blog-card p{
  grid-row: 4/5;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
/* sections */
/* home page */
.home {
  height: 80vh;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(2, 50%);
}
.intro {
  position: relative;
  grid-row: 1/2;
  grid-column: 1/3;
  padding: 1rem;
  margin: auto 0;
  text-align: center;
  z-index: 1;
}
.intro h1 {
  font-family: var(--heading-font);
  font-weight: 500;
  text-transform: capitalize;
  background: -webkit-Linear-gradient(to Right, #20a1ff, #13d7fb);
  background: Linear-gradient(to Right, #20a1ff, #13d7fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--fontxx);
}
.intro p {
  margin: 0.3rem 0 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.img-wrap {
  position: relative;
  grid-row: 2/3;
  grid-column: 1/3;
}
.portfolio-img {
  position: absolute;
  bottom: 0%;
  right: 0%;
  left: 0%;
  height: 300px;
  margin: 0 auto;
}
/* projects */
/* swiper */
.swiper-wrapper {
  padding: 0 0 2rem;
}
.swiper-button-next, .swiper-button-prev {
  top: 40%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.8rem;
  font-weight: 800;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper-slide h2 {
  text-align: center;
  text-transform: capitalize;
}
.swiper-slide p {
  width: 100%;
}
.swiper-slide img {
  height: 100px;
  display: block;
  margin: 2rem auto 0;
}
.personal-projects h2,
.neog h2 {
  margin: 1rem;
}
/* blogs */
.p-1{
  padding: 1rem;
}
.blog-content img{
  height: 150px;
  display: block;
  margin: 0 auto;
}
/* contact */
.social{
  margin: 1rem 0;
  text-align: center;
}
.social h2{
  margin-bottom: .5rem;
  text-align: center;
}
.contact-form{
  display: flex;
  justify-content: center;
align-items: center;
flex-direction: column;
  text-align: center;
}
.contact-form input{
  display: block;
  margin: 1rem 0 0;
  padding: .5rem;
  width: 80vw;
  font-size: var(--fontx);
  font-weight: 600;
}
.contact-form textarea{
  display: block;
  resize: none;
  border-radius: 5px;
  width: 80vw;
  height: 15vh;
  padding: .5rem .5rem 0;
  margin: 1rem 0 1rem;
  font-size: var(--fontx);
  font-weight: 600;
}
.contact-form input::placeholder,.contact-form textarea::placeholder{
  font-size: var(--fontx);
  font-weight: 400;
}

/* media queries */
