@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
:root {
  --black: #040408;
  --theme-color: #ffffff;
  --blue: #5770f0;
  --grey: #6d6d79;
  --fsz-1: 1rem;
  --fsz-2: 1.25rem;
  --fsz-3: 1.563rem;
  --fsz-4: 2.441rem;
  --extra-padding: 5rem;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  background-color: var(--black);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}
.d-flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.icon {
  font-size: 1.25rem;
  color: var(--grey);
  transition: all 0.3s;
}
.icon:hover {
  color: var(--blue);
}
.active::before {
  content: "";
  display: block;
  height: 5px;
  width: 60%;
  position: absolute;
  border-radius: 0.2rem 0.2rem 0 0;
  bottom: -70%;
  left: 0%;
  right: 0%;
  margin-inline: auto;
  background-color: var(--blue);
}
.active .icon {
  color: var(--blue);
}
.heading {
  font-size: var(--fsz-3);
  color: var(--theme-color);
}
.container {
  margin: 1rem;
}
.extra_margin {
  margin-left: 1rem;
}
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrow #beak {
  transform-origin: center center;
  transition: all 0.3s;
  transform: translateX(-20%);
}
.arrow #tail {
  transition: all 0.3s;
  transform-origin: center center;
  transform: scale(0);
}
.arrow:hover #beak {
  transform: translateX(0%);
}
.arrow:hover #tail {
  transform: scale(1);
}
@media (min-width: 640px) {
  .active::before {
    width: 120%;
    left: -18%;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
