.navbar {
  --nav-height: 3.125rem;
  background-color: var(--purple);
  margin: auto auto 1rem;
  height: var(--nav-height);
  width: 95vw;
  position: fixed;
  bottom: 0%;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
  border-radius: var(--nav-height);
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_items {
  margin: 0 0.5rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 0.9rem;
  color: var(--theme-color);
}
.menu_items span {
  display: none;
}
.icon {
  font-size: 1.25rem !important;
  margin-inline: 0.5rem;
  color: var(--grey);
}

@media (min-width: 640px) {
  .menu_items span {
    display: block;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
