.wrapper {
  margin: 3rem auto 0;
  display: grid;
  place-content: center;
}
.card_container {
  color: var(--theme-color);
  display: flex;
  overflow-y: scroll;
}
.card {
  --icon: 20vh;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #0e1a2d;
}
.card figure {
  height: 35vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.thumbnail {
  align-self: center;
  position: relative;
  height: var(--icon);
  border-radius: 50%;
  width: var(--icon);
}
.thumbnail img {
  border-radius: 50%;
}
.card figcaption {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.card h4 {
  font-size: var(--fsz-2);
}
.card p {
  margin-top: 0.2rem;
  color: var(--blue);
}
.links {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}
.links a {
  color: var(--grey);
  display: flex;
}
.links a:hover {
  text-decoration: underline;
}
.links a:last-child {
  margin-left: 0.5rem;
}
.links svg {
  align-self: center;
  margin-left: 0.2rem;
  font-size: 1rem;
}
.project_container {
  --logo-height: 50px;
  --img-height: 35vh;
  padding-bottom: var(--extra-padding);
  color: var(--theme-color);
}
.project_img {
  position: relative;
  height: var(--img-height);
}
.project_img img {
  border-radius: 0.5rem;
}
.project_logo {
  height: var(--logo-height);
  width: var(--logo-height);
  position: relative;
}
.project_heading {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project_details h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 0.5rem;
}
.project_details a {
  display: flex;
  align-items: center;
}
.project_details h3 {
  margin-top: 0.2rem;
  font-weight: 600;
  font-size: var(--fsz-1);
  color: var(--blue);
}
.project_container p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}
.project_container h4 {
  margin-bottom: 0.5rem;
}
.tech_stack {
  display: flex;
  flex-direction: column;
}
.project_container svg {
  margin-right: 0.5rem;
}
.project_links {
  margin-top: 0.5rem;
}
.project_links div {
  display: flex;
}
.project_links a {
  display: flex;
  align-items: center;
}
.project_links span {
  margin-right: 0.5rem;
}
.project_links a:hover {
  color: var(--blue);
  text-decoration: underline;
}

@media (min-width: 640px) {
  .wrapper {
    padding-bottom: 5rem;
  }
  .card_container {
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    --icon: 10vh;
    margin: 1rem;
  }
  .card figure {
    height: 20vh;
    width: 30vw;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
